*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: #EEAECA;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}
.heading{
    text-align: center;
    margin-top: 20px;
    background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 0.66) 0%, rgba(9, 9, 121, 1) 68%, rgba(0, 212, 255, 1) 100%);
    padding: 3px;
    border: 2px solid black;
    border-radius: 10px;
}
.container{
    display:flex;
    justify-content: center;
    gap: 100px;
    margin-top: 80px;
}
.login-card{
    background: #3ff5fb;
    background: radial-gradient(circle, rgba(63, 245, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    width: 330px;
    color: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow:0 8px 20px black;
}
.login-card h2{
    text-align: center;
    margin-bottom: 20px;  
}
.login-card label{
    font-weight: bold;
    display: block;
    margin-top: 10px;
}
.login-card p{
    font-size: small;
}
.login-card input[type="text"],
.login-card input[type='password']{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 25px;
    border:2px solid white;
}
.login-btn {
  display: inline-block;
  width: 100%;
  padding: 10px;
  background-color: #66cccc;
  color: white;
  border-radius: 25px;
  font-weight: bold;
  text-align: center;
}

.login-card button:hover{
    background: #9fa4ff;
} 
.about {
    margin-left:15%;
    width: 70%;
    background: #f5f5f5;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    margin-top: 100px;
}

.about h3 {
    margin-bottom: 10px;
}   
.contact{
    text-align: center;

}